<div *ngIf="activeView == 'table'" class="m-2 bg-white rounded-md">
    <div class="py-2 bg-green-500 rounded-t-md">
        <p class="text-center text-white">สาขา{{ brName }} : อนุมัติออกใบหุ้น</p>
    </div>

    <div class="overflow-x-auto mt-4 p-4">
        <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
            <thead class="bg-green-400 text-white">
                <tr>
                    <th class="py-3 px-4 text-center text-sm font-semibold">ลำดับ</th>
                    <th class="py-3 px-4 text-center text-sm font-semibold">เลขที่บัตรแสดงตน</th>
                    <th class="py-3 px-4 text-center text-sm font-semibold">ชื่อ-นามสกุล</th>
                    <th class="py-3 px-4 text-center text-sm font-semibold">สาขา</th>
                    <th class="py-3 px-4 text-center text-sm font-semibold">หมายเลขใบหุ้น</th>
                    <th class="py-3 px-4 text-center text-sm font-semibold">จำนวนหุ้น</th>
                    <th class="py-3 px-4 text-center text-sm font-semibold">จำนวนเงิน</th>
                    <th class="py-3 px-4 text-center text-sm font-semibold">แสดง</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                <tr *ngFor="let item of issueList; let i = index" class="even:bg-gray-100 hover:bg-gray-200">
                    <td class="py-2 px-4 text-center">{{ i+1 }}</td>
                    <td class="py-2 px-4 text-center">{{item.cusId}}</td>
                    <td class="py-2 px-4 text-center">{{item.fullName}}</td>
                    <td class="py-2 px-4 text-center">{{item.brName}}</td>
                    <td class="py-2 px-4 text-center">{{item.stkNote}}</td>
                    <td class="py-2 px-4 text-center">{{item.unit}}</td>
                    <td class="py-2 px-4 text-center">{{item.unitValue}}</td>
                    <td class="py-2 px-4 text-center">
                        <button class="cursor-pointer" (click)="detailIssue(item)">📝</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div *ngIf="activeView == 'detail-issue'" class="fixed inset-0 z-50 flex flex-col bg-white shadow-lg overflow-y-auto">
    <!-- ปุ่มปิด -->
    <div class="ml-auto p-4">
        <button (click)="closeWindows()" class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 transition">
            ❌ ปิดหน้าต่างนี้
        </button>
    </div>
    <!-- เนื้อหา -->
    <div *ngIf="issuadata" class="flex items-center flex-col space-y-4 px-4 pb-6">
        <!-- หัวข้อ: รายละเอียดสถานะ -->
        <div class="w-full md:w-6/12 bg-orange-400 py-3 rounded-md shadow text-center text-white text-lg font-semibold">
            รายละเอียด : สถานะ
        </div>
        <!-- รายละเอียดสถานะ -->
        <div class="w-full md:w-6/12 bg-gray-50 p-4 rounded-md shadow space-y-2">
            <div class="grid grid-cols-2 gap-2">
                <p>📅 วันที่บันทึกรายการ :</p>
                <p>🕒 {{ formatThaiDateTimeWithDash(issuadata.datetimeup) }}</p>
            </div>
            <div class="flex gap-2">
                <p>👤 ผู้บันทึกรายการ :</p>
                <p>{{issuadata.userName}} ( {{issuadata.lvlCode}}:{{issuadata.lvlDesc}} )</p>
            </div>
            <div  class="flex gap-2">
                <p>🏢 สาขาที่บันทึกรายการ :</p>
                <p>{{issuadata.brCode}} : {{issuadata.brName}}</p>
            </div>
        </div>
        <!-- หัวข้อ: ผู้ถือหุ้น / ใบหุ้น -->
        <div class="w-full md:w-6/12 bg-orange-400 py-3 rounded-md shadow text-center text-white text-lg font-semibold">
            รายละเอียด : ผู้ถือหุ้น / ใบหุ้น
        </div>
        <!-- รายละเอียดผู้ถือหุ้น -->
        <div class="w-full md:w-6/12 bg-gray-50 p-4 rounded-md shadow space-y-4">
            <div class="grid grid-cols-2 gap-2">
                <p>🪪 เลขที่บัตรแสดงตน: {{issuadata.cusId}}</p>
                <p>🗓 วันที่มีผล : {{formatThaiDateTime(issuadata.dateIssue)}}</p>
            </div>
            <div class="grid grid-cols-2 gap-2">
                <p>🙍‍♂️ ชื่อ-นามสกุล: {{issuadata.fullname}}</p>
                <p>🕒 เวลา : 15:39:32 น.</p>
            </div>
            <hr class="my-2 border-gray-300" />
            <div class="grid grid-cols-2 gap-2">
                <p>🔖 หมายเลขใบหุ้น : {{issuadata.stkNote}}</p>
                <p>🆔 หมายเลขหุ้น : {{issuadata.stkNostart}} - {{issuadata.stkNoend }}</p>
            </div>
            <div class="grid grid-cols-2 gap-2">
                <p>🔢 จำนวนหุ้น : {{issuadata.unit}}</p>
                <p>💰 มูลค่าหุ้น : {{issuadata.unitValue}}</p>
            </div>
            <div class="grid grid-cols-2 gap-2">
                <p>🏦 รับเงินปันผลโดย: {{issuadata.paydesc}}</p>
            </div>
            <hr class="my-2 border-gray-300" />
            <div class="grid grid-cols-2 gap-2">
                <p>📄 สถานะใบหุ้น : {{issuadata.statusDesc}}</p>
                <p>📝 หมายเหตุ : {{issuadata.note}}</p>
            </div>
            <div class="grid grid-cols-2 gap-2">
                <p>🔁 หมายเลขใบหุ้นเดิม : {{issuadata.stkNodeo}}</p>
                <p>📅 บันทึกรายการเมื่อวันที่:</p>
            </div>
            <hr class="my-2 border-gray-300" />
            <!-- ปุ่ม -->
            <div class="flex justify-center gap-4 pt-4">
                <button (click)="approveSelectedIssue()" class="bg-green-500 hover:bg-green-600 text-white px-6 py-2 rounded-md transition">
                    ✅ อนุมัติ
                </button>
                <button (click)="notApproveSelectedIssue()" class="bg-red-500 hover:bg-red-600 text-white px-6 py-2 rounded-md transition">
                    ❌ ไม่อนุมัติ
                </button>
            </div>
        </div>
    </div>
</div>