@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.mat-mdc-dialog-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
}

#print-section {
    display: none;
}

/* style.css หรือ component css */
@media print {
    #print-section {
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        font-size: large;
        /* เต็มหน้ากระดาษ */
    }

    #print-section,
    #print-section * {
        font-family: 'Sarabun', sans-serif !important;
    }

    #print-section table {
        margin: auto;
        /* center table จริงๆ */
        border-collapse: collapse;
    }

    #print-section table td,
    #print-section table th {
        padding: 4px 8px;
        border: 1px solid #000;
        font-weight: 400 !important;
    }

    td,
    th {
        font-size: 24px;
        font-family: "Sarabun", sans-serif !important;
        padding-bottom: 10px;
    }

    .content {
        display: flex !important;
        justify-content: center !important;
        margin-top: 50px;
    }
}