<div #voucherDiv class="voucher-container">
    <div class="voucher">
        <!-- header -->
        <style type="text/css">
            .pdf-content {
                display: flex;
                justify-content: center;
            }
            .tg {
                border-collapse: collapse;
                border-spacing: 0;
            }

            .tg td {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
            }

            .tg th {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
            }

            .tg .tg-7btt {
                border-color: inherit;
                font-weight: bold;
                text-align: center;
                vertical-align: top
            }

            .tg .tg-0pky {
                border-color: inherit;
                text-align: left;
                vertical-align: top
            }

            .tg .tg-3zjg {
                border-color: inherit;
                font-size: small;
                text-align: center;
                vertical-align: top
            }

            .tg .tg-j5n6 {
                border-color: inherit;
                font-family: Arial, Helvetica, sans-serif !important;
                text-align: left;
                vertical-align: top
            }
        </style>
        <div class="pdf-content">
            <table class="tg" style="table-layout: fixed; width: 906px">
                <colgroup>
                    <col style="width: 33.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 25.090909px">
                    <col style="width: 36.090909px">
                    <col style="width: 38.090909px">
                    <col style="width: 38.090909px">
                    <col style="width: 32.090908999999996px">
                    <col style="width: 39.090909px">
                    <col style="width: 39.090909px">
                    <col style="width: 31.090909px">
                    <col style="width: 31.090909px">
                    <col style="width: 31.090909px">
                    <col style="width: 30.090909px">
                </colgroup>
                <thead>
                    <tr>
                        <th class="tg-7btt" colspan="32">ใบสำคัญการบันทึกรายการ (Voucher)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tg-0pky" colspan="5">วันที่</td>
                        <td class="tg-0pky" colspan="5">เขตธุรกิจ 9999</td>
                        <td class="tg-0pky" colspan="5">ประเภทเอกสาร SJ</td>
                        <td class="tg-0pky" colspan="7">เลขที่เอกสาร</td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                    </tr>
                    <tr>
                        <td class="tg-3zjg">DR/<br><br>CR</td>
                        <td class="tg-3zjg" colspan="4">รหัสบัญช</td>
                        <td class="tg-3zjg" colspan="10">ชื่อบัญช</td>
                        <td class="tg-3zjg" colspan="4">ศูนย์ต้นทุน<br><br>ศูนย์กำไร</td>
                        <td class="tg-3zjg" colspan="3">เซกเมนต</td>
                        <td class="tg-3zjg" colspan="3">รหัสบัญชีย่อย</td>
                        <td class="tg-3zjg" colspan="3">ประเภทบริการ/<br><br>องค์ประกอบ WBS</td>
                        <td class="tg-3zjg" colspan="4">จำนวนเงิน</td>
                    </tr>
                    <tr>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky" colspan="4"></td>
                        <td class="tg-0pky" colspan="10"></td>
                        <td class="tg-0pky" colspan="4"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky" colspan="4"></td>
                        <td class="tg-0pky" colspan="10"></td>
                        <td class="tg-0pky" colspan="4"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky" colspan="4"></td>
                        <td class="tg-0pky" colspan="10"></td>
                        <td class="tg-0pky" colspan="4"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky" colspan="4"></td>
                        <td class="tg-0pky" colspan="10"></td>
                        <td class="tg-0pky" colspan="4"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky" colspan="4"></td>
                        <td class="tg-0pky" colspan="10"></td>
                        <td class="tg-0pky" colspan="4"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky" colspan="4"></td>
                        <td class="tg-0pky" colspan="10"></td>
                        <td class="tg-0pky" colspan="4"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky" colspan="4"></td>
                        <td class="tg-0pky" colspan="10"></td>
                        <td class="tg-0pky" colspan="4"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="3"></td>
                        <td class="tg-0pky" colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="tg-0pky" colspan="6">ผู้จัดทำ<br><br>วันที่</td>
                        <td class="tg-0pky" colspan="6">ผู้ตรวจ<br><br>วันที่</td>
                        <td class="tg-0pky" colspan="6">ผู้บันทึกเครื่อง<br><br>วันที่</td>
                        <td class="tg-0pky" colspan="7">ผู้อนุมัติ<br><br>วันที่</td>
                        <td class="tg-0pky" colspan="7">ผู้อนุมัติเข้าเครื่อง</td>
                    </tr>
                    <tr>
                        <td class="tg-j5n6" colspan="7">เลขที่เอกสารกลับรายการ</td>
                        <td class="tg-j5n6"></td>
                        <td class="tg-j5n6"></td>
                        <td class="tg-j5n6"></td>
                        <td class="tg-j5n6"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-j5n6"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-j5n6" colspan="5">เลขที่เอกสารใหม</td>
                        <td class="tg-j5n6"></td>
                        <td class="tg-j5n6"></td>
                        <td class="tg-j5n6"></td>
                        <td class="tg-j5n6"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>