::ng-deep .mat-datepicker-content,
::ng-deep .mat-calendar,
::ng-deep .mat-datepicker-popup,
::ng-deep .mat-datepicker-content-container {
  background-color: white !important;
  color: black !important;
  border-radius: 0.5rem !important;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.mat-mdc-form-field.mat-form-field-animations-enabled .mdc-text-field__input {
    color: black !important;
    font-size: 1rem !important;
    font-weight: 300 !important;
    margin: 0 !important;
}